<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <title>PyMIvn Daily dashboard</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <link rel="stylesheet" href="main.css">

  <!-- You should properly set the path from the main file. -->
</head>
<body style="background:wheat">
  <main class="wrapper" id="app">
    <header class="container">
    <h1>PyMI.vn news board</h1>
    </header>

  <section id="daily" class="container">
    <h4>Your IP: {{ ip }} - Your ISP: {{ ipinfo.org }}</h4>
    <h4><a target="_blank" v-bind:href="'https://www.openstreetmap.org/#map=19/' + this.ipinfo.loc"> Location: {{ ipinfo.city }} </a> </h4>
    <h4>Today: {{ today }}</h4>
    <h4>${{ usd_per_btc }} per BTC</h4>
  </section>

  <section id="awesomejobs" class="container">
    <job v-for="(job, idx) in jobs" v-bind:key="idx" v-bind:job="job">
    </job>
  </section>
  </main>

  <script>
    Vue.component('job', {
        props: ['job'],
        template: `<div>
        <h3>{{ job.created_at.slice(0,10) }} <a v-bind:href=job.html_url> {{ job.title }} </a> </h3>
        <div class="row">
        <div v-for="label in job.labels"> <button class="button button-clear">{{label.name}} </button></div>
        </div>
        </div>
        `
    });
    var app = new Vue({
      el: '#app',
      data () {
        return {
        jobs: null,
        today: new Date().toDateString(),
        ipinfo: null,
        usd_per_btc: null,
        ip: null
      }},
      computed:  {
      },
      mounted () {
        axios.get("https://httpbin.org/ip").then(resp => { this.ip = resp.data.origin });
        axios.get('https://api.coindesk.com/v1/bpi/currentprice.json').then(response => (this.usd_per_btc = response.data.bpi.USD.rate));
        axios.get('https://api.github.com/repos/awesome-jobs/vietnam/issues').then(response => (this.jobs = response.data));
        axios.get("https://ipinfo.io/").then(resp => { this.ipinfo = resp.data });
      }
    })
  </script>
</body>
</html>
