<!DOCTYPE html>
<html>
<head>
  <title>PyMIvn Daily dashboard</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <!-- You should properly set the path from the main file. -->
</head>
<body>
  <div id="app" class="container">
    <h2>Your IP: {{ ip }} </h2>
    <h2>${{ usd_per_btc }} per BTC</h2>
    <div v-for="job in jobs">
    	<h3>{{ job.created_at.slice(0,10) }} <a v-bind:href=job.html_url> {{ job.title }} </a> </h3>
    	<div class="row">
    	<div v-for="label in job.labels"> <button class="button button-clear">{{label.name}} </button></div>
    </div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data () {
      	return {
        jobs: null,
        usd_per_btc: null,
        ip: null
      }},
      mounted () {
      	axios.get("https://httpbin.org/ip").then(resp => { this.ip = resp.data.origin });
      	axios.get('https://api.coindesk.com/v1/bpi/currentprice.json').then(response => (this.usd_per_btc = response.data.bpi.USD.rate));
      	axios.get('https://api.github.com/repos/awesome-jobs/vietnam/issues').then(response => (this.jobs = response.data));
      }
	})
  </script>
</body>
</html>